<!DOCTYPE html>
<html lang="en">
<head>
	<h1>Get Well Data by API</h1>
</head>

<body>
	<form action="{{url_for('getWellData')}}" method="POST">
		<label for="title">Title</label>
		<br>
		<input type="text" name="Well API"
			   placeholder="Enter Well API number"
			   value="{{ request.form['APIKey'] }}"></input>
		<br>
		<button type="submit">Submit</button>
	</form>
</body>

<!--
NOTE: Incomplete attempt to make table update on current page by ajax

<script type="text/javascript"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

<body>
	<h1>Dynamic Data:</h1>
		<div id="dynamic-data"></div>
		<script>
			$(document).ready(function() {
				setInterval(function() {
					$.ajax({
						type: 'GET',
						headers: {"Content-Type": "application/json"},
						url: $SCRIPT_ROOT+"/updateWellData",
						data: JSON.stringify({"key": "value"}),
						dataType: "json",
						
						success: function(response) {
							$('#dynamic-data').html(response);
						}
					});
				}, 1000);
			});
		</script>
</body>
-->
</html>

